@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');.my-container{
    padding: 8vw;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(242, 242, 242, .3);
    z-index: auto;
/* Header Background */
}
img{
    z-index: -10;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}

/* Header Background End */
/* Header Intro */
.intro{
    display: flex;
    flex-direction: column;
    font-weight: 700;
}
.intro h1{
    color: #262626;
    font-size: 2.5rem;
}
.intro p{
    letter-spacing: 2px;
    opacity: 0.9;
    color: #262626;
    font-size: 1rem;
    font-weight: 500;
}
.button-blogs{
    display: flex;
    letter-spacing: 2px;
    align-self: flex-start;
    margin-top: 1em;
    text-decoration: none;
    color: #f2f2f2;;
    background-color:#262626;
    font-size: .6rem;
    font-weight: 500;
    padding: 1.3em 2.9em;
    transition: 300ms;
    font-family: 'Open Sans', sans-serif;
}
.button-blogs:hover{
    background-color: #73293D;
}
@media (min-width:1150px){
    .intro{
        display: flex;
        width: 50%;
        flex-direction: column;

    }
    .intro h1{
        font-size: 3rem;
    }
    .intro p{
        font-size: .7rem;
        line-height: 1.8;
    }
}

@media (max-width:600px){
    .intro h1{
        font-size: 2rem;
    }
    .intro p{
        font-size: .8rem;
        line-height: 1.5;
    }
}
@media (max-width:300px){
    .intro h1{
        font-size: 2rem;
    }
    .intro p{
        font-size: .6rem;
        line-height: 1.5;
    }
}
/* Header Intro End*/
/* CODE GRID */
.grid-container{

    display: none;
}
@media (min-width:1150px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        color: #262626;
        font-size: 10rem;
        font-weight: 900;
        gap: 1px;
    }
    .item-top{
        margin: 0 0 -15px 0;
    }
    .item-bottom{
        margin: -20px 0 0 0;
    }
}

/* CODE GRID End */
/* Latest Section */

.my-container-grid{
    background-color: #f2f2f2;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    width: 100%;
    align-content: center;
    justify-content: center;
    z-index: auto;
}
/* Latest section typography */
.my-container-grid h1{
    color: #262626;
    font-size: 4rem;
    align-self: center;
}
.card-body{
    color: #262626;
    display: flex;
    flex-direction: column;
}
.card-body h5{
    margin: .5em 0;
    font-size: 1.3rem;
    font-weight: 400;
}
.card-body p{
    opacity: .8;
    font-size: .8rem;
    height: 70%;
}
.min-read{
    opacity: 0.5;
    font-size: .7rem;
    align-self: center;
    justify-self: end;
}
/* Latest section typography end */


@media (max-width:500px) {
    .my-container-grid{
        padding: 1em 1em;
        grid-auto-flow: row;
    }
    .card-body h5{
        font-size: 1rem;
    }
    .card-body p{
        font-size:.6rem;
    }
}

@media (min-width:720px) {
    .my-container-grid{
        padding: 1em 5em;
        grid-auto-flow: row;
    }
    /* Latest section typography */
    .my-container-grid h1{
        font-size: 6rem;
    }
    .card-body h5{
        font-size: 1.5rem;
    }
    .card-body p{
        font-size: 1rem;
    }
}
/* Blog card components */
.card{
    justify-self:center;
    align-self: center;
    width: 100%;
    height: 70%;
    display:flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@media (min-width:850px) {
    .card{
        width: 70%;
        height: 70%;
    }
}

@media (max-width:1200px) {
    .card{
        width: 90%;
        height: 70%;
    }
}
.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.read-more{
    justify-self: end;
    align-self: center;
    text-decoration: none;
    color: #262626;
    font-weight: 700;
    font-size: .8rem;
}

.read-more:hover{
    border-bottom: 2px solid #73293D;
}
.card img{
    position: relative;
    width: 100%;
    height: 50%;
    object-fit: cover;
    z-index: auto;
}
.card-body{
    position: relative;
    box-sizing: border-box;
    padding: 1em 3em;
    background-color: #f2f2f2;
    width: 100%;
    height: 50%;
}
/* Profile card  */
.profile-card{
    display: flex;
    z-index: 10;
    position: relative;
    height: 10vh;
    width: 50%;
    flex-direction: row;
    align-content: center;

}
.profile-card img{
    margin-right: 5px;
    border-radius: 100%;
    object-fit: cover;
    height: 40px;
    width: 40px;
    align-self: center;
    justify-self: center;
}
.profile-info{
    margin: auto 0;
}
.profile-info h5{
    font-size: 1rem;
    margin:0;
}
@media (max-width:530px){
    .profile-card img{
        height: 30px;
        width: 30px;
    }
    .profile-info h5{
        font-size: .6rem;
    }
    .read-more{
        font-size: .6rem;
    }
}
/* Profile card End */
/* Blog card components End */
/* Latest Section End */

/* Contact Section */
.contact{
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
    margin: 0;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #262626e6;
    
}
.contact-card{
    display: flex;
    flex-direction: column; 
    width: 90%;
    height: 90%;
    background-color: #f2f2f2;
    padding: 2.6em;
    z-index: auto;
}
.contact h1{
    color: #f2f2f2;
    font-size: 3rem;
    opacity: .9;
}

/* continue here */
.contact-card img{
    display: flex;
    position: relative;
    width: 100%;
    height: 45%;
    object-fit: cover;
    z-index: auto;
    opacity: .7;
}
.contact-card-info{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-card-info h3{
    color: #262626;
    font-size: 1rem;
    text-align: center;
    margin: 1em 0;

}
/* Submit button */
.form-submit{
    color: #f2f2f2;
    background-color: #262626;
    padding: 1em 3em;
    border-color: transparent;
    font-weight: 700;
    cursor: pointer;
    letter-spacing: 2px;    
    font-size: .8rem;
    align-self: flex-end;
    margin: 1em 0;
}
.form-submit:hover{
    background-color: #73293D;
    transition: 300ms;
}
/* Submit button end */
/* Fields */
.contact-card-info-main [type='text'],[type='email'], textarea{
    margin-top: 1em;
    padding-bottom: .7em;
    border: none;
    border-bottom: 2px solid #262626;
    background-color: transparent;
}
textarea {
	line-height: 150%;
	height: 60px;
	resize: none;
    width: 100%;
}
.contact-card-info-main [type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}
/* Fields end */
@media (min-width:1050px){
    .contact{
        padding: 1em 5em;
    }
    .contact-card{
        flex-direction: row; 
        width: 80%;
        height: 70%;
    }
    .contact h1{
        font-size: 6rem;
    }
    .contact-card img{
        width: 45%;
        height: 100%;
    }
    .contact-card-info{
        width: 55%;
    }
    .contact-card-info h3{
        font-size: 3rem;
        margin: 0;
    }

    .contact-card-info-main{
        display: flex;
        justify-content: start;
        padding: 5em;
    }

}
/* Contact Section End*/