.my-container{
    padding: 8vw;
    height: 100vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgba(242, 242, 242, .3);
/* Header Background */
}
img{
    z-index: -1000;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
}

/* Header Background End */
/* Header Intro */
.intro{
    display: flex;
    flex-direction: column;
    font-weight: 700;
}
.intro h1{
    color: #262626;
    font-size: 2.5rem;
}
.intro p{
    letter-spacing: 2px;
    opacity: 0.9;
    color: #262626;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 500;
}
.button-blogs{
    display: flex;
    align-self: flex-start;
    margin-top: 1em;
    text-decoration: none;
    color: #BF2C53;
    font-weight: 500;
    font-size: 1rem;
    border: 1px solid #BF2C53;
    padding: .5em 1.5em;
    border-radius: 2px;
    transition: .3s;
}
.button-blogs:hover,:focus{
    background-color: #bf2c533a;
}
@media (min-width:1150px){
    .intro{
        display: flex;
        width: 50%;
        flex-direction: column;

    }
    .intro h1{
        font-size: 3rem;
    }
    .intro p{
        font-size: .7rem;
        line-height: 1.8;
    }
}

@media (max-width:600px){
    .intro h1{
        font-size: 2rem;
    }
    .intro p{
        font-size: .8rem;
        line-height: 1.5;
    }
}
@media (max-width:300px){
    .intro h1{
        font-size: 2rem;
    }
    .intro p{
        font-size: .6rem;
        line-height: 1.5;
    }
}
/* Header Intro End*/
/* CODE GRID */
.grid-container{

    display: none;
}
@media (min-width:1150px){
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        color: #262626;
        font-size: 10rem;
        font-weight: 900;
        gap: 1px;
    }
    .item-top{
        margin: 0 0 -15px 0;
    }
    .item-bottom{
        margin: -20px 0 0 0;
    }
}

/* CODE GRID End */
/* Latest Section */

.my-container-grid{
    background-color: #f2f2f2;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    width: 100%;
    align-content: center;
    justify-content: center;
}
/* Latest section typography */
.my-container-grid h1{
    color: #262626;
    font-size: 4rem;
    align-self: center;
    margin-bottom: 15px;
}
.card-body{
    color: #262626;
    display: flex;
    flex-direction: column;
}
.card-body h5{
    margin: .5em 0;
    font-size: 1.3rem;
    font-weight: 400;
}
.card-body p{
    opacity: .8;
    font-size: .8rem;
    height: 70%;
}
.min-read{
    opacity: 0.5;
    font-size: .7rem;
    align-self: center;
    justify-self: end;
}
/* Latest section typography end */


@media (min-width:400px) {
    .card-body h5{
        font-size: 1.2rem;
    }
    .card-body p{
        font-size:.6rem;
    }
}
@media (min-width:700px) {
    .my-container-grid{
        padding: 1em 5em;
        grid-auto-flow: row;
    }
    /* Latest section typography */
    .my-container-grid h1{
        font-size: 6rem;
    }
    .card-body h5{
        font-size: 1.2rem;
    }
    .card-body p{
        font-size: .7rem;
    }
}

@media (min-width:970px) {
    .my-container-grid{
        padding: 1em 5em;
        grid-auto-flow: row;
    }
    /* Latest section typography */
    .my-container-grid h1{
        font-size: 6rem;
    }
    .card-body h5{
        font-size: 1.4rem;
    }
    .card-body p{
        font-size: .9rem;
    }
}
/* Blog card components */
.card{
    justify-self:center;
    align-self: center;
    width: 100%;
    height: 70%;
    display:flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

@media (min-width:850px) {
    .card{
        width: 70%;
        height: 70%;
    }
}

@media (max-width:1200px) {
    .card{
        width: 90%;
        height: 70%;
    }
}
.card:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.card-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.read-more{
    justify-self: end;
    align-self: center;
    text-decoration: none;
    color: #BF2C53;
    font-weight: 700;
    font-size: .8rem;
}

.read-more:hover{
    border-bottom: 2px solid #BF2C53;
}
.card img{
    position: relative;
    width: 100%;
    height: 50%;
    object-fit: cover;
    z-index: 1;
}
.card-body{
    position: relative;
    box-sizing: border-box;
    padding: 1em 3em;
    background-color: #f2f2f2;
    width: 100%;
    height: 50%;
}
/* Profile card  */
.profile-card{
    display: flex;
    z-index: 10;
    position: relative;
    height: 10vh;
    width: 50%;
    flex-direction: row;
    align-content: center;

}
.profile-card img{
    margin-right: 5px;
    border-radius: 100%;
    object-fit: cover;
    height: 40px;
    width: 40px;
    align-self: center;
    justify-self: center;
}
.profile-info{
    margin: auto 0;
}
.profile-info h5{
    font-size: 1rem;
    margin:0;
}
@media (max-width:470px){
    .profile-info h5{
        font-size: .6rem;
}}
/* Profile card End */
/* Blog card components End */
/* Latest Section End */

/* Contact Section */
.contact{
    display: flex;
    flex-direction: column;
    padding: 1em 5em;
    margin: 0;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-items: center;
    background-color: rgba(242, 242, 242, .3);
}
.contact h1{

    font-size: 6rem;
    margin-bottom:15px ;
}
.contact-card{
    display: flex;
    border-radius: 8px;
    width: 80%;
    height: 70%;
    background-color: #f2f2f2e6;
    z-index: -1;
}
.contact-card img{
    position: relative;
    width: 50%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    border-top-left-radius:8px;
    border-bottom-left-radius:8px;
}
/* Contact Section End*/