{% extends 'main.html' %}
{% load static %}
{% block main %}
<head>
    <link rel="stylesheet" href="{% static 'blog/blogs.css' %}">
</head>
<div class="back-button">
<a href="{% url 'blog:index' %}"><i class="far fa-caret-square-left fa-4x"></i></a>
</div>
    <div class="blog-nav">
    <h1>BLOGS</h1>
    <form action="" method="GET">
        {% csrf_token %}
        <h5>Title:</h5>
        {{blogfilter.form.title}}
        <h5>Best blogs:</h5>
        {{blogfilter.form.best}}<br>
        <input type="submit" value="Search" id='submit-button'>
    </form>
    </div>
    <div class="grid-blog-container">
        {% for blog in blogs %}
        <div class="blog-card">
            <img src="{{blog.image.url}}" alt="header">
            <div class="card-body">
                <h5>{{blog.title}}</h5>
                <p>{{blog.description}}</p>
            </div>
            <div class="card-footer">
                <div>
                <p>{{blog.date_published}}</p>
                <p>{{blog.min_read}}</p>
                </div>
                <div class="read-more">
                <a href="{% url 'blog:blog' blog.id %}">READ MORE</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

{% endblock %}