{% extends 'main.html' %}
{% load static %}
{% block main %}
<head>
    <link rel="stylesheet" href="{% static 'blog/index.css' %}">

</head>
<div class="my-container" id="Home">
    <img src="{% static '../../static/images/header.jpg' %}" alt="Header">
    <div class="layer">
    </div> <!-- layer end -->
    <div class="intro">
        <h1>CODING ADVENTURES.</h1>
        <p>Follow me on my journey as a wandering kid on a humble field,<br>
        be on your each step, i'll patiently wait. 
        </p>
    </div> <!--intro end -->
    <div class="grid-container">
        <div class="item-top">
            C
        </div>
        <div class="item-top">
            O
        </div>
        <div class="item-bottom">
            D
        </div>
        <div class="item-bottom">
            E
        </div>
    </div>
</div>

<div class="my-container-grid" id="Latest">
    <h1>LATEST</h1>
    <div class="card">
        <img src="{{blog.image}}" alt="">
        <div class="card-body">
            <h5>{{blog.title}}</h5>
            <p>{{blog.description}}</p>
            <div class="card-footer">
                <div class="profile-card">
                    <img src="{% static 'images/author.jpg' %}" alt="">
                    <div class="profile-info">
                        <h5>Adrian Gallano</h5>
                        <p>{{blog.date_published}}</p>
                    </div>
                </div>
                <div class="min-read">{{blog.min_read}}</div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

